Componentes Externos/Lib/kbmMWCG/kbmMW.wsdl

<?xml version="1.0"?>
<definitions name="kbmMWSOAPService"
    targetNamespace="http://www.components4developers.com/namespaces/kbmMW/"
    xmlns:tns="http://www.components4developers.com/namespaces/kbmMW/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xd="http://www.w3.org/2001/XMLSchema"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns="http://schemas.xmlsoap.org/wsdl/">
 <types>
  <xd:schema elementFormDefault="qualified" targetNamespace="http://www.components4developers.com/namespaces/kbmMW/" xmlns="http://www.components4developers.com/namespaces/kbmMW/">

   <xd:simpleType name="TkbmMWSOAPIdentifier">
     <xd:restriction base="xd:int"/>
   </xd:simpleType>

   <xd:simpleType name="TkbmMWSOAPType">
     <xd:restriction base="xd:int"/>
   </xd:simpleType>

   <xd:simpleType name="TkbmMWSOAPCount">
     <xd:restriction base="xd:int"/>
   </xd:simpleType>

   <xd:simpleType name="TkbmMWSOAPVersion">
     <xd:restriction base="xd:int"/>
   </xd:simpleType>

   <xd:simpleType name="TkbmMWSOAPDataType">
     <xd:restriction base="xd:int"/>
   </xd:simpleType>

   <xd:simpleType name="TkbmMWSOAPEncoding">
     <xd:restriction base="xd:string">
       <xd:enumeration value="base64"/>
       <xd:enumeration value="http"/>
     </xd:restriction>
   </xd:simpleType>

   <xd:complexType name="TkbmMWSOAPRange">
     <xd:sequence>
       <xd:element name="lo"  type="xd:int" minOccurs="1" maxOccurs="1" />
       <xd:element name="hi" type="xd:int" minOccurs="1" maxOccurs="1" />
     </xd:sequence>
   </xd:complexType>

   <xd:complexType name="TkbmMWSOAPArrayOfVariant">
    <xd:sequence>
     <xd:element minOccurs="0" type="xd:anyType" maxOccurs="unbounded" name="anyType" nillable="true" />
    </xd:sequence>
   </xd:complexType>

   <xd:complexType name="TkbmMWSOAPBinaryArray">
     <xd:sequence>
       <xd:element name="lo"  type="xd:int" minOccurs="0" maxOccurs="1" />
       <xd:element name="hi" type="xd:int" minOccurs="0" maxOccurs="1" />
       <xd:element name="base64data" type="xd:string" minOccurs="1" maxOccurs="1" />
     </xd:sequence>
   </xd:complexType>

   <xd:complexType name="TkbmMWSOAPStream">
     <xd:sequence>
       <xd:element name="base64data" type="xd:string" minOccurs="1" maxOccurs="1" />
     </xd:sequence>
   </xd:complexType>

   <xd:complexType name="TkbmMWSOAPClientIdentity">
     <xd:sequence>
       <xd:element name="UserName" type="xd:string" minOccurs="0" maxOccurs="1" />
       <xd:element name="Password"  type="xd:string" minOccurs="0" maxOccurs="1" />
       <xd:element name="Location" type="xd:string" minOccurs="0" maxOccurs="1" />
       <xd:element name="Token" type="xd:int" minOccurs="0" maxOccurs="1" />
       <xd:element name="Data" type="xd:anyType" minOccurs="0" maxOccurs="1" />
     </xd:sequence>
   </xd:complexType>

   <xd:complexType name="TkbmMWSOAPRequest">
     <xd:sequence>
       <xd:element name="attr" type="xd:string" minOccurs="0" maxOccurs="unbounded" />
       <xd:element name="Ident" type="tns:TkbmMWSOAPClientIdentity" minOccurs="0" maxOccurs="1" />
       <xd:element name="ServiceName" type="xd:string" minOccurs="0" maxOccurs="1" />
       <xd:element name="ServiceVersion" type="xd:string" minOccurs="0" maxOccurs="1" />
       <xd:element name="StateID" type="xd:int" minOccurs="0" maxOccurs="1" />
       <xd:element name="RequestID" type="xd:int" minOccurs="0" maxOccurs="1" />
       <xd:element name="Func" type="xd:string" minOccurs="1" maxOccurs="1" />
       <xd:element name="Args" type="tns:TkbmMWSOAPArrayOfVariant" maxOccurs='1' />
       <xd:element name="Stream" type="tns:TkbmMWSOAPStream" minOccurs="0" maxOccurs="1" />
     </xd:sequence>
   </xd:complexType>

   <xd:complexType name="TkbmMWSOAPResponse">
     <xd:sequence>
       <xd:element name="attr" type="xd:string" minOccurs="0" maxOccurs="unbounded" />
       <xd:element name="Ident" type="tns:TkbmMWSOAPClientIdentity" minOccurs="0" maxOccurs="1" />
       <xd:element name="StatusCode" type="xd:int" minOccurs="1" maxOccurs="1" />
       <xd:element name="StatusText" type="xd:string" minOccurs="1" maxOccurs="1" />
       <xd:element name="InternalCode" type="xd:int" minOccurs="0" maxOccurs="1" />
       <xd:element name="StateID" type="xd:int" minOccurs="0" maxOccurs="1" />
       <xd:element name="RequestID" type="xd:int" minOccurs="0" maxOccurs="1" />
       <xd:element name="Result" type="xd:anyType" minOccurs="1" maxOccurs="1" />
       <xd:element name="Stream" type="tns:TkbmMWSOAPStream" minOccurs="0" maxOccurs="1" />
     </xd:sequence>
   </xd:complexType>

   <xd:element name="ProcessRequest" type="tns:TkbmMWSOAPRequest"/>

   <xd:element name="ProcessRequestResponse" type="tns:TkbmMWSOAPResponse"/>

  </xd:schema>
 </types>

 <message name="ProcessRequest">
   <part name="Request" element="tns:ProcessRequest"/>
 </message>

 <message name="ProcessRequestResponse">
   <part name="Response" element="tns:ProcessRequestResponse"/>
 </message>

 <portType name="IProcessRequestSOAPPort">
   <operation name="ProcessRequest">
     <input  name="ProcessRequest" message="tns:ProcessRequest" />
     <output name="ProcessRequestResponse" message="tns:ProcessRequestResponse" />
   </operation>
 </portType>

 <binding name="IProcessRequestSOAPBinding" type="tns:IProcessRequestSOAPPort">
   <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
   <operation name="ProcessRequest">
     <soap:operation soapAction="http://www.components4developers.com/namespaces/kbmMW/Types-IProcessRequestSOAP" style="document" />
     <input name="ProcessRequest">
       <soap:body use="literal" />
     </input>
     <output name="ProcessRequestResponse">
       <soap:body use="literal" />
     </output>
   </operation>
 </binding>

 <service name="kbmMWService">
   <port name="IProcessRequestSOAPPort" binding="tns:IProcessRequestSOAPBinding">
     <soap:address location="http://localhost:8081/Server.test/soap" />
   </port>
 </service>

</definitions>

